---
to: app/controllers/<%=controllerPath%>/<%= h.capitalize(name) %>Controller.js
---
const { koa2Controller } = require('koa2-controller-router');
const <%= h.capitalize(h.inflection.pluralize(name)) %> = require('../../models/<%= h.capitalize(h.inflection.pluralize(name)) %>')


module.exports = class <%= h.capitalize(name) %>Controller extends koa2Controller {

  constructor() {
    super();
    this.prefix = "/<%= h.inflection.pluralize(name) %>";
  }

  /**
    * get all the records and render index
    * @param {any} ctx 
    * @param {any} next 
    */
  async getIndex(ctx, next) {
    const models = await <%= h.capitalize(h.inflection.pluralize(name)) %>.findAll();
    return ctx.renderView("index.ejs", { models });
  }

  /**
    * get one record and render view
    * @param {int} id 
    * @param {any} ctx 
    */
  async getView(id, ctx) {

  }

  /**
    * render create form
    * @param {any} ctx 
    * @param {any} next 
    */
  async getNew(ctx, next) {
    return ctx.renderView("create.ejs");
  }

  /**
    * create a new record
    * @param {any} ctx 
    * @param {any} next 
    */
  async postCreate(ctx, next) {
    <%= h.capitalize(h.inflection.pluralize(name)) %>.create(ctx.request.body);
    return ctx.redirect(this.prefix);
  }

  /**
    * render form for edit one record
    * @param {int} id 
    * @param {any} ctx 
    */
  async getEdit(id, ctx) {
    const model = await <%= h.capitalize(h.inflection.pluralize(name)) %>.findById(id);
    return ctx.renderView("update.ejs", { model });
  }

  /**
    * update one record
    * @param {int} id 
    * @param {any} ctx 
    */
  async postUpdate(id, ctx) {
    const model = await <%= h.capitalize(h.inflection.pluralize(name)) %>.findById(id);
    await model.update(ctx.request.body);
    return ctx.redirect(this.prefix);
  }

  /**
    * delete one record
    * @param {int} id 
    * @param {any} ctx 
    */
  async allDelete(id, ctx) {
    const model = await <%= h.capitalize(h.inflection.pluralize(name)) %>.findById(id);
    await model.destroy();
    return ctx.redirect(this.prefix);
  }
  
}