---
to: app/views/<%= name %>/form.ejs

<!-- Form row -->
<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Form row</h4>
      <p class="text-muted m-b-30 font-13">
        You may also swap
        <code class="highlighter-rouge">.row</code> for
        <code class="highlighter-rouge">.form-row</code>, a variation of our standard grid row that overrides the default column gutters for tighter and more compact
        layouts.
      </p>

      <form>
        <% formFieldNames.split(',').forEach((field) => { 
          var parseFiel =  h.getFields(field);%>
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label"><%=parseFiel.name%></label>
            <input type="text" name="<%=parseFiel.name%>" class="form-control" id="input_<%=parseFiel.name%>">
          </div>
          <%  }); %>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- end row -->