---
to: app/views/<%= name %>/index.ejs
---

<div>
<a href="/<%= h.inflection.pluralize(name) %>/new" type="button" class="btn btn-white waves-effect">New</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <% formFieldNames.split(',').forEach((field) => { 
          var parseFiel =  h.getFields(field);%>
          <th><%= h.capitalize(parseFiel.name) %></th>
        <%  }); %>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%% models.forEach(function(model,key) { %>
      <tr>
        <th scope="row"><%%= key %></th>
        <% formFieldNames.split(',').forEach((field) => { 
          var parseFiel =  h.getFields(field);%>
          <td><%%= model.<%=parseFiel.name%> <%='%' %>></td>
        <%  }); %>
        <div>
          <td><a class="btn btn-danger" href="/<%= h.inflection.pluralize(name) %>/delete/<%%= model.id %>"><i class="fa fa-trash"></i></a></td>
          <td><a class="btn btn-info" href="/<%= h.inflection.pluralize(name) %>/edit/<%%= model.id %>"><i class="fa fa-pencil"></i></a></td>
        </div>
      </tr>
    <%% }); %>
      
    </tbody>
  </table>
</div>