---
to: app/models/<%= h.capitalize(h.inflection.pluralize(name)) %>.js
---

module.exports = (sequelize, DataTypes) => {
  //model
  const <%= h.capitalize(h.inflection.pluralize(name)) %> = sequelize.define('<%= name %>', {
    <% formFieldNames.split(',').forEach((field) => { 
      var parseFiel =  h.getFields(field);%>
      <%=parseFiel.name%>: {
        type: DataTypes.<%=parseFiel.type.toUpperCase()%>
      },
    <% }); %>
  })
  
  return <%= h.capitalize(h.inflection.pluralize(name)) %>
}