
<div>
<a href="/pacientes/new" type="button" class="btn btn-white waves-effect">New</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        
          <th>Nombre</th>
        
          <th>Email</th>
        
          <th>Edad</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% models.forEach(function(model,key) { %>
      <tr>
        <th scope="row"><%= key %></th>
        
          <td><%= model.nombre %></td>
        
          <td><%= model.email %></td>
        
          <td><%= model.edad %></td>
        
        <div>
          <td><a class="btn btn-danger" href="/pacientes/delete/<%= model.id %>"><i class="fa fa-trash"></i></a></td>
          <td><a class="btn btn-info" href="/pacientes/edit/<%= model.id %>"><i class="fa fa-pencil"></i></a></td>
        </div>
      </tr>
    <% }); %>
      
    </tbody>
  </table>
</div>