

<!-- Form row -->
<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Form row</h4>
      <p class="text-muted m-b-30 font-13">
        create a new record
      </p>

      <form action="/pacientes/update/<%= model.id %>" method="post">
        
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">nombre</label>
            <input type="text" name="nombre" class="form-control" id="input_nombre" value="<%= model.nombre %>" >
          </div>
          
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">email</label>
            <input type="text" name="email" class="form-control" id="input_email" value="<%= model.email %>" >
          </div>
          
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">edad</label>
            <input type="text" name="edad" class="form-control" id="input_edad" value="<%= model.edad %>" >
          </div>
          
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- end row -->