
<!-- Form row -->
<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Form row</h4>
      <p class="text-muted m-b-30 font-13">
        create a new record
      </p>

      <form action="/dates/create" method="post">

          <div class="form-group">
                <label for="inputAddress2" class="col-form-label">Paciente</label>
                <select class="form-control select2" name="pacienteId">
                  <option >Selecionar Paciente</option>
                  <% pacientes.forEach(function(paciente){ %>

                    <option value="<%=paciente.id%>" ><%=paciente.nombre%></option>
                  <% })%>
                </select>
          </div>

       
        
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">Fecha</label>
            <input type="text" name="date" class="form-control" id="input_date" placeholder="yyyy-mm-dd">
          </div>

          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">Hora</label>
            <input type="text" name="time" class="form-control" id="input_time">
          </div>
          
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>


