
<div>
<a href="/dates/new" type="button" class="btn btn-white waves-effect">New</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        
          <th>Date</th>
          <th>Paciente</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% models.forEach(function(model,key) { %>
      <tr>
        <th scope="row"><%= key %></th>
          
          <td><%= model.date %></td>
          <td><%= model.paciente.nombre %></td>
        
        <div>
          <td><a class="btn btn-danger" href="/dates/delete/<%= model.id %>"><i class="fa fa-trash"></i></a></td>
          <td><a class="btn btn-info" href="/dates/edit/<%= model.id %>"><i class="fa fa-pencil"></i></a></td>
        </div>
      </tr>
    <% }); %>
      
    </tbody>
  </table>
</div>