<div>
<a href="/users/new" type="button" class="btn btn-white waves-effect">New</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% models.forEach(function(model,key) { %>
      <tr>
        <th scope="row"><%= key %></th>
        <td><%= model.name %></td>
        <td><%= model.email %></td>
        <div>
          <td><a class="btn btn-danger" href="/users/delete/<%= model.id %>"><i class="fa fa-trash"></i></a></td>
          <td><a class="btn btn-info" href="/users/edit/<%= model.id %>"><i class="fa fa-pencil"></i></a></td>
        </div>
      </tr>
    <% }); %>
      
    </tbody>
  </table>
</div>