<!-- Form row -->
<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Form row</h4>
      <p class="text-muted m-b-30 font-13">
        create a new record
      </p>

      <form action="/users/update/<%= model.id %>" method="POST">

          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">name</label>
            <input type="text" name="name" class="form-control" id="input_name" value="<%= model.name %>">
          </div>
          
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">email</label>
            <input type="text" name="email" class="form-control" id="input_email" value="<%= model.email %>">
          </div>
          
          <div class="form-group">
            <label for="inputAddress2" class="col-form-label">password</label>
            <input type="text" name="password" class="form-control" id="input_password" value="<%= model.password %>">
          </div>
          
        <button type="submit" class="btn btn-primary">save</button>
      </form>
    </div>
  </div>
</div>
<!-- end row -->